<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/db.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
​
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls\style.css' %}">

    <title>choose your poll</title>
</head>
​
<body>   
​   <center>  
    <h1 class="hh">Hello Everyone, lets start out voting</h1>
    {% if latest_question_list %}
    <ul> 
        {% for question in latest_question_list %}
       <h2> <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li></h2>
        {% endfor %}
    </ul>
    {% else %}
    <p class="hh">No polls are available.</p>
    {% endif %}
    
​</center>
    
</body>
​
</html>