a {
    color: white;

}
body {
    background-image: url("images/bg1.jpg") ; 
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body, html {
    height: 100%;
  }
h2{
    color:white;
    font-family: 'Times New Roman', Times, serif;    
}

p 
{
    background: whitesmoke;
}
li{
    border:2px inset white;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding: 5px;
    border-radius: 10px;
}
div{
    border:2px outset grey;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding: 5px;
    border-radius: 10px;

}
.button
{
    background-color: wheat; 
    border: outset;
    border-radius: 20px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    text-emphasis-color: white;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    

}
